# Github actions workflow
workflow "TruffleHog Secret Scanner" {
  on = "pull_request"
  resolves = ["trufflehog-secret-scanner"]
}

# This action includes common filters to stop workflows unless certain conditions are met
action "filter-to-pr-open-synced" {
  uses = "actions/bin/filter@master"
  args = "action 'opened|synchronize'"
}

# Action that workflow picks up
action "trufflehog-secret-scanner" {
  uses = "broadinstitute/dsp-security-knowledgebase/github-actions/truffleHog@master"
  needs = "filter-to-pr-open-synced"
  # secrets = ["GITHUB_TOKEN"]
  env = {
    TH_ACTION_WORKING_DIR = "."
  }
}